.container {
  display: flex;
  flex-wrap: wrap;
}

.blue {
  background: 		#4682B4;
}

.green {
  background: 	#2E8B57;
}

.red {
  background: #B22222;
}

.orange {
  background: 	#DAA520;
}

.box {
  width: 100%;
  height: 7rem;
}

@media screen and (min-width:800px){
  .blue{width:20%;height: 800px;}
  .orange{width: 60%;height: 800px;}
  .green{width: 10%; height: 800px;, order: 4;}
  .red{width: 10%; height: 800px; ,order: 3;}

}
@media screen and (max-width:800px) and (min-width: 600px) {
  .blue{width:20%;height: 400px;}
  .orange{width: 60%;height: 400px;}
  .green{width: 20%; height: 400px;, order: 4;}
  .red{width: 100%; height: 400px; ,order: 4;}
}
@media screen and (max-width:600px) and (min-width: 500px) {
  .blue{width:80%;height: 200px;}
  .orange{width: 20%;height: 200px;}
  .green{width: 100%; height: 200px;, order: 4;}
  .red{width: 100%; height: 200px; ,order: 4;}
}
@media screen and (max-width:500px) {
  .blue{width:100%;height: 100px;}
  .orange{width: 100%;height: 100px;}
  .green{width: 100%; height: 100px;, order: 4;}
  .red{width: 100%; height: 100px; ,order: 4;}
}
