.container, .juntos {
  display: flex;
  flex-wrap: wrap;
}


.blue {
  background: 		#4682B4;
}

.green {
  background: 	#2E8B57;
}

.red {
  background: #B22222;
}

.orange {
  background: 	#DAA520;
}

.box {
  width: 100%;
  height: 7rem;
}

@media screen and (min-width:800px){
  .blue{width: 33%; height: 300px;}
  .juntos{width: 33%; height: 300px;}
  .orange{width: 100%;height: 50%;}
  .green{width: 100%; height: 50%;}
  .red{width: 33%; height: 300px; ,order: 4;}
}
@media screen and (max-width: 800px) and (min-width: 600px){
  .blue{width: 50%; height: 300px;}
  .juntos{width: 50%; height: 300px;}
  .orange{width: 100%;height: 50%;}
  .green{width: 100%; height: 50%;}
  .red{width: 100%; height: 300px; ,order: 4;}
}
@media screen and (max-width:600px) {
  .blue{width:100%;height: 100px;}
  .juntos{width: 100%; height: 200px;}
  .orange{width: 100%;height: 50%;}
  .green{width: 100%; height: 50%;, order: 4;}
  .red{width: 100%; height: 100px; ,order: 4;}
}

